/* Hack for responsive tables in moz */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

/* General */

html {
  font-size: 17px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

a {
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.row:not(.search-bar) {
  margin-bottom: 12px;
}

/* Sections */

#search-section {
  background-color: #f5f5f5;
  height: auto;
  margin: 0 auto;
  overflow: auto;
  padding: 100px 0;
  position: fixed;
  width: 100%;
  z-index: 2;
}

/* Header */

.main-header {
  color: #93b1c6;
  margin: 0 0 20px 0;
  font-size: 3rem;
  text-align: center;
}

.header-highlight {
  color: #ff7148;
  font-style: italic;
}

/* Search mode buttons */

.btn-toggle {
  background-color: #fff;
  border-color: #c7d0d5;
  width: 97px;
}

.btn-toggle:hover {
  background-color: #fafafa;
}

.btn-toggle-active,
.btn-toggle-active:hover {
  background-color: #93b1c6;
  color: #fff;
}

.btn-toggle-active:focus {
  outline: none;
  color: #fff;
}

/* Search bar */

input {
  background-color: #f5f5f5 !important;
  border: 0 !important;
  border-bottom: 1px solid #ff7148 !important;
  color: #fff;
  font-size: .95rem !important;
  min-width: 97px;
  padding: 6px !important;
}

.form-group {
  margin: 0;
}

.form-control,
.form-control:focus {
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: 1px solid #ff7148;
  border-radius: 0;
}

/* Flights dropdown list */

.flights-list-table {
  border: 1px solid rgba(0,0,0,.15) !important;
  border-radius: 4px !important;
  box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175) !important;
  max-height: 295px;
  overflow-y: auto;
  width: 100%;
}

.flights-list {
  background-color: #fff;
  cursor: pointer;
  margin-bottom: 0;
}

.active {
  background-color: #f5f5f5;
}

/* Response Message */

.normal-highlight {
  color: #ff7148;
}

/* View All Button */

.footer {
  bottom: 5%;
  height: 60px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 2;
}

.btn-view-all {
  background-color: #fff;
  color: #ff7148;
}

/* Response message table, small viewport */

.small-table {
  font-size: 1.8rem;
  text-align: center;
}
