/* Hack for responsive tables in moz */
@-moz-document url-prefix() 
{
  fieldset
  {
    display: table-cell;
  }
}

input
{
  min-width: 97px;
}

a
{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; 
}

.row
{
  margin-bottom: 8px;
}

/* Sections */

#first {
  background-color: grey;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
  width: 100%;
}

#second {
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
  width: 100%;
}

/* Header */

.main-header {
  margin: 0 0 30px 0;
  text-align: center;
  margin-bottom: 30px;
}

.btn
{
  width: 97px;
}

.btn:focus
{
  outline: none;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover
{
  background-color: #3071a9;
  border-color: #285e8e;
}

.form-group
{
  margin-bottom: 1px;
}

.flights
{
  width: 100%;
  max-height: 280px;
  overflow-y: auto;
}

.active
{
  background-color: #f5f5f5;
}

