/* Hack for responsive tables in moz */
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}

/* General */

input {
  min-width: 97px;
}

a {
  overflow: hidden;
  text-overflow: ellipsis; 
  white-space: nowrap;
}

.row {
  margin-bottom: 8px;
}

/* Sections */

#first {
  background-color: grey;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
  width: 100%;
}

#second {
  background-color: #fff;
  height: auto;
  margin: 0 auto;
  padding: 100px 0;
  position: relative;
  width: 100%;
}

/* Header */

.main-header {
  margin: 0 0 30px 0;
  text-align: center;
}

/* Search mode buttons */

.btn {
  width: 97px;
}

.btn:focus {
  background-color: #428bca;
  border-color: #357ebd;
  outline: none;
}

.btn-primary:hover {
  background-color: #3071a9;
  border-color: #285e8e;
}

/* Flights dropdown list */

.flights {
  max-height: 280px;
  overflow-y: auto;
  width: 100%;
}

.active {
  background-color: #f5f5f5;
}

