<!DOCTYPE HTML>
<html>
  <head>
    <title>Is My Keflavík Flight on Time?</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <section id="search-section">
      <div class="container">
        <div class="row>">
          <div class="col-md-12">
            <h1 class="main-header">IS MY FLIGHT<br>
              <span class="header-highlight">ON TIME?</span>
            </h1>
          </div>
        </div>
        <div class="row" id="buttons-wrap">
          <div class="col-md-4">
            <button type="button" class="btn btn-toggle-active btn-toggle" data-id="arrivals" disabled>Arrivals</button>
            <button type="button" class="btn btn-toggle" data-id="departures" disabled>Departures</button>
          </div>
        </div>
        <div class="row" id="search-bar-wrap">
          <div class="col-md-12">
            <div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Loading data..." disabled>
              </div>
            </div>
          </div>
        </div>
        <div class="row" id="flights-list-wrap" style="display:none;"></div>
        <div class="row" id="response-msg-wrap"></div>
      </div>
    </section>

    <script type="text/template" id="flights_list_template">
      <div class="col-md-12">
        <div class="table-responsive flights-list-table">
          <table class="table flights-list">
            <tbody>
              <% _.each(list, function(i) { %>
                <tr class="option" data-id="<%= i.flightNumber %>">
                  <td><%= i.flightNumber %> </td>
                  <td><%= i.to %> </td>
                  <td><%= i.airline %> </td>
                  <td><%= key + i.from %></td>
                </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </script>
    <script type="text/template" id="alert_type_1">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <strong>Oh snap!</strong> Can't load flights at the moment. Try refreshing.
        </div>
      </div>
    </script>
    <script type="text/template" id="alert_type_2">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          <strong>Damn son.</strong> Couldn't find your flight.
        </div>
      </div>
    </script>
    <script type="text/template" id="sucess_msg_template">
      <div class="col-md-12">
        <h2><%= context.reaction %> Your flight <%= context.direction %> <%= context.airport %> is <%= context.status1 %> <span class="normal-highlight"><%= context.nHours %></span> <%= context.strHours %> <span class="normal-highlight"><%= context.nMin %></span> <%= context.strMin %>  <%= context.status2 %> Here's the lowdown:</h2>
      </div>
      <%= context.tableTemplate(context) %>
    </script>
    <script type="text/template" id="response_table_lg">
      <div class="col-md-12 table-wrap">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th><%= direction.charAt(0).toUpperCase() + direction.slice(1)%></th>
              <th>Airline</th>
              <th>Scheduled <%= action %></th>
              <th>Estimated <%= action %></th>
              <th>Status</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><%= flightNumber %></td>
              <td><%= airport %></td>
              <td><%= airline %></td>
              <td><%= scheduled %></td>
              <td><%= estimate %></td>
              <td><%= flightStatus %></td>
              <td><%= date %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </script>
    <script type="text/template" id="response_table_md">
      <div class="col-md-12 table-wrap">
        <table class="table">
          <thead>
            <tr>
              <th colspan="2">Flight data</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><strong>#</strong></td>
              <td><%= flightNumber %></td>
            </tr>
            <tr>
              <td><strong><%= direction.charAt(0).toUpperCase() + direction.slice(1)%></strong></td>
              <td><%= airport %></td>
            </tr>
            <tr>
              <td><strong>Airline</strong></td>
              <td><%= airline %></td>
            </tr>
            <tr>
              <td><strong>Scheduled <%= action %></strong></td>
              <td><%= scheduled %></td>
            </tr>
            <tr>
              <td><strong>Estimated <%= action %></strong></td>
              <td><%= estimate %></td>
            </tr>
            <tr>
              <td><strong>Status</strong></td>
              <td><%= flightStatus %></td>
            </tr>
            <tr>
              <td><strong>Date</strong></td>
              <td><%= date %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </script>
    <script type="text/template" id="response_table_sm">
      <div class="col-md-12 table-wrap">
        <div class="col-md-12 small-table"><strong>#</strong></div>
        <div class="col-md-12 small-table"><%= flightNumber %></div>
        <div class="col-md-12 small-table"><strong><%= direction.charAt(0).toUpperCase() + direction.slice(1)%></strong></div>
        <div class="col-md-12 small-table"><%= airport %></div>
        <div class="col-md-12 small-table"><strong>Airline</strong></div>
        <div class="col-md-12 small-table"><%= airline %></div>
        <div class="col-md-12 small-table"><strong>Scheduled <%= action %></strong></div>
        <div class="col-md-12 small-table"><%= scheduled %></div>
        <div class="col-md-12 small-table"><strong>Estimated <%= action %></strong></div>
        <div class="col-md-12 small-table"><%= estimate %></div>
        <div class="col-md-12 small-table"><strong>Status</strong></div>
        <div class="col-md-12 small-table"><%= flightStatus %></div>
        <div class="col-md-12 small-table"><strong>Date</strong></div>
        <div class="col-md-12 small-table"><%= date %></div>
      </div>
    </script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.1/moment.min.js"></script>
    <script src="js/index.js"></script>
    <script src="js/views/buttonview.js"></script>
    <script src="js/views/searchbarview.js"></script>
    <script src="js/views/dropdownview.js"></script>
    <script src="js/views/responsemessageview.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

