<!DOCTYPE HTML>
<html>
  <head>
    <title>Is My Keflav&iacute;k Flight on Time?</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <h2 class="main-header">Well is it?</h2>
      <form>
        <div class="control-group">
          <input list="flights_list" class="flights-input" data-id="flights" type="text" placeholder="Enter flight number">
          <datalist id="flights_list">
          </datalist> 
        </div>
      </form>
      <p class="or_op">OR</p>
      <form> 
        <div class="control-group control-rows">
          <div class="input-prepend">
            <div class="btn-group">
              <button class="btn dropdown-toggle" data-toggle="dropdown">
                <span class="btn-name">Arrivals</span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li><a data-id="arrivals" href="#">Arrivals</a></li>
                <li><a data-id="departures" href="#">Departures</a></li>
              </ul>
            </div>
            <input list="airports_list" class="airports-input" data-id="airports" type="text" placeholder="Enter origin airport name">
            <datalist id="airports_list">
            </datalist>
          </div>
        </div>
      </form>
    </div>
    <div class="row" style="display:none;">
      <div class="span11 boarding_pass">
        <input class="bp-input" type="text">
      </div>
    </div>

    <script type="text/template" id="datalist_template">
      <% _.each(list, function(item) { %>
        <% var val = kind === 'flights' ? item.flightNumber : item.to + key + item.from + ' (' + item.flightNumber + ')'%>
        <option value="<%= val %>">
      <% }); %> 
    </script>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js"></script>
    <script src="js/is_my_flight_on_time.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>

